<section id="inner-headline">
    <div class="container inner-heading">
        <div class="row">
            <div class="col-lg-12">
                <h2>Autoridades</h2>
            </div>
        </div>
    </div>
</section>

<section id="content" style="margin-bottom:0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/images/autoridades/presidente.jpg" style="width:100%" />
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">PRESIDENTE</h4>
                            <br /><strong>Alberto Limardo</strong>
                            <br />San Martín, Buenos Aires
                            <br />Presidente CPB
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/images/autoridades/Vicepresidente1.jpg" style="width:100%" />
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">VICEPRESIDENTE 1º</h4>
                            <br /><strong>Claudio Dutto</strong>
                            <br />Gral. Levalle, Córdoba
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/images/autoridades/Vicepresidente.jpg" style="width:100%"/>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">VICEPRESIDENTE 2º</h4>
                            <br /><strong>Germán Kalbermatten</strong>
                            <br /> Colonia Rosa – Pcia. de Santa Fe
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/images/autoridades/SecretarioGeneral.jpg" style="width:100%" />
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">SECRETARIO GENERAL</h4>
                            <br /><strong>Alberto Andrada</strong>
                            <br />Verónica, Buenos Aires
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/images/autoridades/prosecretario.jpg" style="width:100%" />
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">PROSECRETARIO</h4>
                            <br /><strong>Fernando Sosa</strong>
                            <br />San Miguel – Buenos Aires
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <!--<img src="/images/autoridades/SecretarioActas.jpg" style="width:100%" />-->
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">SECRETARIO DE ACTAS</h4>
                            <br /><strong>Estela Quiroga</strong>
                            <br />Morteros - Córdoba
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/images/autoridades/tesorero.jpg" style="width:100%" />
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">TESORERO</h4>
                            <br /><strong>Raúl Quiros</strong>
                            <br />San Miguel de Tucumán
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/images/autoridades/protesorero.jpg" style="width:100%" />
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">PROTESORERO</h4>
                            <br /><strong>Ariel Cabello</strong>
                            <br />Villa Bosch - Buenos Aires
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <!--<img src="/images/autoridades/vocal1.jpg" style="width:100%" />-->
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">VOCAL</h4>
                            <br /><strong>Liliana Gomez</strong>
                            <br />Corral de Bustos – Pcia. de Córdoba
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <!--<img src="/images/autoridades/imagen-vacia.png" style="width:100%" />-->
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">VOCAL</h4>
                            <br /><strong>Roberto Repetto</strong>
                            <br /> Gualeguay - Entre Ríos
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="/images/autoridades/Prensa.jpg" style="width:100%" />
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="pullquote-left textoParrafos">
                            <h4 style="margin-bottom:10px">JEFE DE PRENSA</h4>
                            <br /><strong>Juan Carlos Clar</strong>
                            <br />Olavarría, Buenos Aires
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer></footer>