<section id="inner-headline">
	<div class="container inner-heading">
		<div class="row">
			<div class="col-lg-12">
				<h2>Quiénes Somos</h2>
			</div>
		</div>
	</div>
</section>

<section id="content" style="margin-bottom:0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <img src="/images/quienes-somos.png" style="width:100%" />
            </div>
            <div class="col-lg-5 col-md-5 textoParrafos">
                <p>La <strong>Confederación Argentina de Bochas</strong> agrupa a las federaciones provinciales de todo el país.</p>
                <p>Junto a ellas, organizamos campeonatos nacionales para caballeros, damas, personas con discapacidad visual y niños desde la categoría Mosquito (menores de 9 años de edad).</p>
                <p>Nuestro objetivo es fomentar el desarrollo del deporte en todo el territorio nacional, convocando a nuevas federaciones a ser parte de esta Confederación y asistiendo a las que ya trabajan con nosotros.</p>
                <p>Desde nuestro espacio apoyamos el trabajo de la <strong>Boules Sports</strong> con el deseo de que las Bochas sean incluidas en los <strong>Juegos Olímpicos del año 2024</strong>.</p>
            </div>
        </div>
    </div>
</section>

<footer></footer>