<div class="login-page">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <img src="/images/logo.png" style="height:150px" />
            <h1><small>Debe cambiar la contraseña</small></h1>

            <form role="form" name="form" ng-submit="submit()">
                <div class="form-content">

                    <div class="form-group" style="padding-right:0px">
                        <span>Nueva contrase&ntilde;a</span>
                        <input type="password" ng-model="instancia.PasswordNueva" class="form-control input-underline input-lg" ng-required="true" autofocus />
                    </div>

                    <div class="form-group" style="padding-right:0px">
                        <span>Confirme la nueva contrase&ntilde;a</span>
                        <input type="password" name="ConfirmacionPassword" ng-model="instancia.ConfirmacionPassword" class="form-control input-underline input-lg" ng-required="true" />
                    </div>
                    
                </div>

                <button type="submit" class="btn btn-white btn-outline btn-lg">
                    <span ng-hide="isLoading">Cambiar contraseña</span>
                    <span ng-show="isLoading"><span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span>&nbsp;&nbsp;Espere por favor...</span>
                </button>
                <br /><br /><a ui-sref="login" class="btn btn-outline">Cancelar</a>
            </form>
        </div>
    </div>
</div>