<div class="login-page">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <img src="/images/logo.png" style="height:150px" />
            <h1><small>Recuperar contraseña</small></h1>

            <div ng-show="error == false">
                <div class="alert alert-info text-center fade">
                    {{ resultMessage }}
                </div>
                <br /><br /><a ui-sref="login" class="btn btn-white btn-outline btn-lg">Continuar</a>
            </div>

            <form role="form" name="form" ng-submit="submit()" ng-show="error != false">
                <div class="form-content">

                    <div class="form-group" style="padding-right:0px">
                        <input type="text" class="form-control input-underline input-lg" ng-model="dataLogin.nombreUsuario" placeholder="Usuario" required autofocus>
                    </div>

                    <!--<div class="recaptchaContainer" ng-model="dataLogin.recaptchaResponse" vc-recaptcha key="6LdPLQwUAAAAAEUQhFUM8mgK0S317O"></div>-->

                    <div class="alert alert-danger text-center fade" ng-show="error == true" style="margin-top:15px">
                        {{ resultMessage }}
                    </div>
                    
                </div>

                <button type="submit" class="btn btn-white btn-outline btn-lg" ng-disabled="form.$invalid">
                    <span ng-hide="isLoading">Recuperar</span>
                    <span ng-show="isLoading"><span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span>&nbsp;&nbsp;Espere por favor...</span>
                </button>
                <br /><br /><a ui-sref="login" class="btn btn-outline">Cancelar</a>
            </form>
        </div>
    </div>
</div>