<div class="row rowHeader">
    <div class="col-lg-8 col-sm-8 h1">
        Cambiar contrase&ntilde;a
    </div>
    <div class="col-lg-4 col-sm-4 h1-botones">
        <a ui-sref="dashboard" class="btn btn-default">Volver</a>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" name="form1" class="form-horizontal" ng-submit="submit()">
                
                <div class="form-group required">
                    <label class="col-lg-3 col-md-3 control-label">Contrase&ntilde;a actual</label>
                    <div class="col-lg-4 col-md-4">
                        <input type="password" ng-model="instancia.PasswordActual" class="form-control" ng-required="true" autofocus />
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-lg-3 col-md-3 control-label">Nueva contrase&ntilde;a</label>
                    <div class="col-lg-4 col-md-4">
                        <input type="password" ng-model="instancia.PasswordNueva" class="form-control" ng-required="true" />
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-lg-3 col-md-3 control-label">Confirme la nueva contrase&ntilde;a</label>
                    <div class="col-lg-4 col-md-4">
                        <input type="password" name="ConfirmacionPassword" ng-model="instancia.ConfirmacionPassword" class="form-control"
                               compare-to="instancia.PasswordNueva"
                               custom-validation-error="form1.ConfirmacionPassword.$error.compareTo == true ? 'Las contraseñas no coinciden' : ''" ng-required="true" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-lg-12 text-right">
                        <button type="submit" class="btn btn-primary" ng-disabled="form1.$pristine || submitLoading">
                            <span ng-hide="submitLoading">Guardar cambios</span>
                            <span ng-show="submitLoading"><span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span>&nbsp;&nbsp;Espere por favor...</span>
                        </button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>