<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="linkAplicacion" value="http://localhost:16448"/>
    <!-- Obtener URL -->
    <add key="emailNotificacion" value="fubochas@gmail.com"/>
    <!--Email de usuario donde se envian las solicitudes de carnet y los cambios de fotos-->
    <add key="emailNotificacion" value="josemay@boccevinci.com"/>
    <!-- Envíos de mails -->
    <add key="SMTP" value="smtp.insunet.com.ar"/>
    <add key="FROM" value="desarrollos.informaticos@integrarsi.com.ar"/>
    <add key="FROMNombre" value="desarrollos.informaticos@integrarsi.com.ar"/>
    <add key="contactoTo" value="info@fubochas.com.ar"/>
    <add key="contactoSubject" value="Contacto desde la web"/>
    <add key="mailUserName" value="desaiisc@insunetweb.com.ar"/>
    <add key="mailPassword" value="GWya8PTg2o2o"/>
    <!-- Recuperación de contraseña -->
    <add key="RecuperarPasswordFrom" value="jdiaz@conectarservicios.com.ar"/>
    <add key="RecuperarPasswordSubject" value="SistemClubes - Recuperación de contraseña"/>
    <!-- Recaptcha -->
    <add key="recaptcha_url" value="https://www.google.com/recaptcha/api/siteverify"/>
    <add key="recaptcha_secret_key" value="6LdPLQwUAAAAADEsTQR9S68fA47t20HSJXIQyPz7"/>
    <add key="REST_proxy" value="false"/>
    <add key="REST_proxy_url" value="host19x:8080"/>
    <add key="REST_proxy_usuario" value="intins\yama"/>
    <add key="REST_proxy_password" value="ymagrini62"/>
    <add key="ArchivoLog" value="c:\temp\log.txt"/>
    <!--Mail para el evio de solicitud de carnet-->
    <add key="mailUserSolicitudCarnet" value="ymagrini@hotmail.com"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="50000000"/>
  </appSettings>
  <connectionStrings>
    <!--desarrollo -->
    <add name="CABEntities" connectionString="metadata=res://*/CAB.csdl|res://*/CAB.ssdl|res://*/CAB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Host48.insunetweb.red\sql2012;initial catalog=Sistema_de_Clubes;persist security info=True;user id=desarrollo;password=desarrolloollo$186;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ConexionBaseDeDatos" connectionString="Data Source=Host48.insunetweb.red\sql2012;initial catalog=Sistema_de_Clubes;persist security info=True;user id=desarrollo;password=desarrolloollo$186;"/>
    <!-- producción 

      -->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime maxRequestLength="5000000"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>