<section id="inner-headline">
	<div class="container inner-heading">
		<div class="row">
			<div class="col-lg-12">
				<h2>Reglamentos</h2>
			</div>
		</div>
	</div>
</section>

<section id="content" style="margin-bottom:0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5>
                    Descargá a tu computadora los documentos en formato pdf. 
                    <br /><br />Los Reglamentos corresponden a la Confederación Panamericana de Bochas.
                </h5>
                <br />
                <div class="list-group list-group-lg">
                    <a href="/images/reglamentos/Reglamento Sudamericano - Argentina.pdf" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-cloud-download" style="color:#68A4C4"></span>&nbsp;&nbsp;Sudamericano</h4>
                    </a>
                    <a href="/images/reglamentos/Reglamento Petanca.pdf" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-cloud-download" style="color:#68A4C4"></span>&nbsp;&nbsp;Petanca</h4>
                    </a>
                    <a href="/images/reglamentos/Reglamento Raffa Volo.pdf" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-cloud-download" style="color:#68A4C4"></span>&nbsp;&nbsp;Raffa Volo</h4>
                    </a>
                    <a href="/images/reglamentos/Reglamento Zerbin.pdf" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-cloud-download" style="color:#68A4C4"></span>&nbsp;&nbsp;Zerbin</h4>
                    </a>
                    <a href="/images/reglamentos/Reglamento combinado.pdf" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-cloud-download" style="color:#68A4C4"></span>&nbsp;&nbsp;Combinado</h4>
                    </a>
                    <a href="/images/reglamentos/Reglamento Campeonatos Argentinos de Bochas 2018.pdf" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-cloud-download" style="color:#68A4C4"></span>&nbsp;&nbsp;Campeonatos Argentinos</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer></footer>