<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <!--PRODUCCION-->
    <!--<add name="DeportesEntities" connectionString="metadata=res://*/Deportes.csdl|res://*/Deportes.ssdl|res://*/Deportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOST41;initial catalog=CAB;persist security info=True;user id=cab;password=camarero$$155;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--DESARROLLO-->
    <add name="DeportesEntities" connectionString="metadata=res://*/Deportes.csdl|res://*/Deportes.ssdl|res://*/Deportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=host48.insunetweb.red\SQL2012;initial catalog=Sistema_de_Clubes;user id=desarrollo;password=desarrolloollo$186;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>