<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="authCtrl">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="index.html">
            <img src="/Images/logo.png" title="GDD" style="height:100%; float:left; margin-right:14px" />
            <span style="float:left">Gestión de Deportes</span>
        </a>
    </div>

    <div class="collapse navbar-collapse" style="padding-left:0px; padding-right:0px">

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i>
                    {{ ticket.nombre }}
                    <i class="fa fa-caret-down"></i>
                </a>

                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a ui-sref="password_edit" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                            <i class="fa fa-mail-forward fa-fw"></i>
                            Cambiar contraseña
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="#" ng-click="logout()" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                            <i class="fa fa-sign-out fa-fw"></i>
                            Cerrar sesión
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="navbar-default sidebar sidebar-nav" role="navigation">

            <ul class="nav" id="side-menu">

                <li class="menu-section-title">
                    <span>General</span>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="dashboard" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-dashboard fa-fw"></i>
                        Resumen
                    </a>
                </li>

                <li class="menu-section-title" ng-show="ticket.administraConfederacion">
                    <span>Gestión</span>
                </li>

                <li ng-show="ticket.administraConfederacion">
                    <ul class="nav nav-second-level menu-inline-list">
                        <li ui-sref-active="active" ng-show="ticket.nivel > 2">
                            <a ui-sref="federaciones" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                <i class="fa fa-bank fa-fw"></i>
                                Federaciones
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="asociaciones" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                <i class="fa fa-group fa-fw"></i>
                                Asociaciones
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="clubes" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                <i class="fa fa-flag fa-fw"></i>
                                Clubes
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="jugadores" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                <i class="fa fa-child fa-fw"></i>
                                Jugadores
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-section-title" ng-show="ticket.administraContenido || ticket.administraConfederacion">
                    <span>Reportes</span>
                </li>

                <li ng-show="ticket.administraContenido || ticket.administraConfederacion" ng-class="{active: reportsOpen}">
                    <a href="" ng-click="toggleReports($event)">
                        <i class="fa fa-folder-open-o fa-fw"></i>
                        Informes
                        <span class="fa arrow"></span>
                    </a>

                    <ul class="nav nav-second-level" ng-show="reportsOpen">
                        <li ui-sref-active="active">
                            <a ui-sref="informes_carnetsNoEntregados" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                Carnets no entregados
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="informes_jugadoresHabilitados" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                Jugadores habilitados
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="informes_totalJugadores" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                Todos los jugadores
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="informes_pases" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                Pases
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-section-title" ng-show="ticket.administraSeguridad">
                    <span>Administración</span>
                </li>

                <li ng-show="ticket.administraSeguridad" ng-class="{active: securityOpen}">
                    <a href="" ng-click="toggleSecurity($event)">
                        <i class="fa fa-lock fa-fw"></i>
                        Seguridad
                        <span class="fa arrow"></span>
                    </a>

                    <ul class="nav nav-second-level" ng-show="securityOpen">
                        <li ui-sref-active="active">
                            <a ui-sref="usuarios" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                <i class="fa fa-user fa-fw"></i>
                                Usuarios
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="roles" data-toggle="{{ dataToggle }}" data-target=".navbar-collapse">
                                <i class="fa fa-user-secret fa-fw"></i>
                                Roles
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>

</nav>