<!-- Fix for old browsers -->
<script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
<script src="http://nervgh.github.io/js/es5-sham.min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

<div class="row rowHeader">
    <div class="col-lg-8 col-sm-8 h1">
        {{ title }}
    </div>
    <div class="col-lg-4 col-sm-4 h1-botones">
        &nbsp;<a ui-sref="federaciones" class="btn btn-default">Volver</a>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" name="form" ng-submit="submit()" class="form-horizontal">

                <div class="form-group required">
                    <label class="col-lg-2 col-md-3 control-label">Nombre</label>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" id="descripcion" required class="form-control" ng-model="instancia.descripcion" />
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-lg-2 col-md-3 control-label">Dirección</label>
                    <div class="col-lg-3 col-md-3">
                        <input type="text" required class="form-control" ng-model="instancia.direccion" />
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-lg-2 col-md-3 control-label">Localidad</label>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" class="form-control is-empty"
                            ng-model="instancia.localidad"
                            typeahead-loading="isLoading"
                            typeahead-min-length="3"
                            uib-typeahead="lodalidad as localidad.descripcion + ' - ' + localidad.Provincias.descripcion for localidad in localidades($viewValue)"
                            typeahead-on-select="localidadesSelect($item, $model, $label)" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label">Teléfono</label>
                    <div class="col-lg-3 col-md-3">
                        <input type="text" class="form-control" ng-model="instancia.telefono" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label">Fax</label>
                    <div class="col-lg-3 col-md-3">
                        <input type="text" class="form-control" ng-model="instancia.fax" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label">E-Mail</label>
                    <div class="col-lg-5 col-md-5">
                        <input type="email" class="form-control" ng-model="instancia.mail" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label">Facebook</label>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control" ng-model="instancia.facebook" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label">Twitter</label>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control" ng-model="instancia.twitter" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label">Logo Actual</label>
                    <div class="col-lg-5 col-md-5">
                        <img src="/Images/Federaciones/{{instancia.logo}}" onError="this.onerror=null;this.src='/images/imagen-vacia.png';" style="max-width:100px; max-height:100px" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label">Cambiar Logo</label>
                    <div class="col-lg-5 col-md-5">
                        <div ng-show="uploader.isHTML5">
                            <div nv-file-drop="" uploader="uploader">
                                <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                    Arrastre aquí el logo o selecciónelo
                                </div>
                            </div>
                        </div>
                        <input type="file" nv-file-select="" uploader="uploader" /><br/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-5 col-md-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="instancia.activo">
                                Activa
                            </label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="isLoading">
                    <span ng-hide="isLoading"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</span>
                    <span ng-show="isLoading"><span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span>&nbsp;Guardando...</span>
                </button>
                <br />
                <br />
            </form>
        </div>
    </div>
</div>
